grid-column-width(n)
  unit(column-width * n - (unit(column-margin, 'px') * (total-columns - n) / total-columns), '%')

grid-offset-width(n)
  unit(grid-column-width(n) + unit(column-margin, 'px'), '%')
