// Variables
// --------------

// -- Breakpoints
bp-lte-mobile = 400px;
bp-lte-phablet = 550px;
bp-lte-tablet = 750px;
bp-lte-desktop = 1000px;
bp-lte-desktophd = 1200px;

// -- Grid
container-width = 960px;
container-width-lte-mobile = 85%;
container-width-lte-phablet = 80%;
total-columns = 12;
column-width = 100 / total-columns; // calculates individual column width based off of # of columns
column-margin = 4%; // space between columns

// -- Colors
light-grey = #e1e1e1;
dark-grey = #333;
color-primary = #33c3f0;
color-secondary = lighten(dark-grey, 13.5%);
color-border = #bbb;
color-link = #1eaedb;
color-font = #222;

// -- Typography
font-family-default = "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

