//------------------
// Variables
//------------------

// -- Breakpoints
bp-lte-mobile = 400px;
bp-lte-phablet = 550px;
bp-lte-tablet = 750px;
bp-lte-desktop = 1000px;
bp-lte-desktophd = 1200px;

// -- Grid
container-width = 960px;
container-width-lte-mobile = 85%;
container-width-lte-phablet = 80%;
total-columns = 12;
column-width = 100 / total-columns; // calculates individual column width based off of # of columns
column-margin = 4%; // space between columns

// -- Colors
light-grey = #e1e1e1;
dark-grey = #333;
color-primary = #33c3f0;
color-secondary = lighten(dark-grey, 13.5%);
color-border = #bbb
color-link = #1eaedb;
color-link--hover = darken(color-link, 5%);
color-font = #222;

// ---- Buttons colors
  // ---- Default
color-button = #555;
color-button--hover =  darken(color-button, 13.5%);
color-button-border = #bbb;
color-button-border--hover = lighten(dark-grey, 33.3%);
  // ---- Primary
color-button__primary = #fff
color-button__primary-bg = #33C3F0
color-button__primary-border = #33C3F0
color-button__primary--hover = #fff
color-button__primary-bg--hover = #1EAEDB
color-button__primary-border--hover = #1EAEDB

// -- Typography
font-family-default = "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif;

// -- Box-model
border-radius-default = 4px